.header{
    
}
.header-logo{
    display: flex;
    
    text-align:left;
    color: brown;
    background-color: lightgray;   
}
img{
    height: 110px;
}
.header-logo h1{
    font-size: 30px;
    position: relative;
    top: 32px;
}
